services:
  tete-notifier-1:
    build: .
    image: candylion/tete-notifier:bark
    restart: always
    environment:
      - API_TOKEN=
      - BARK_SERVER=https://api.day.app
      - BARK_KEY=
      - BARK_GROUP=TeslaMate
      - BARK_SOUND=
      - BARK_URL=
      - BARK_ICON=
      - BARK_LEVEL=
      - DATABASE_HOST=database
      - DATABASE_USER=teslamate
      - DATABASE_PASS=
      - DATABASE_NAME=teslamate
      - DATABASE_PORT=5432
      - MQTT_HOST=mosquitto
      - MQTT_PORT=1883
      - MQTT_USER=
      - MQTT_PASS=
      - CAR_ID=1
      - LOG_LEVEL=info
      - PUSH_DEBOUNCE_SECONDS=5
    depends_on:
      - database
      - mosquitto